<!DOCTYPE html>
<html lang="tw">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>社團活動簽到系統</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    <!-- Custom styles for this template -->
    <link href="https://bootstrap.hexschool.com//docs/4.2/dist/css/bootstrap.css" rel="stylesheet">
    <style>
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>


<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#"> 社團管理 </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown07">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                    <button class="btn btn-outline-success my-2 my-sm-0">登入</button>
                </div>
            </div>
        </nav>
    </header>
    {% if messages%}
        {% for message in messages %}
        <p {% if message.tags == "success" %} class="alert alert-success" {% elif message.tags == 'error'%} class="alert alert-danger" {% endif %}>{{message}}</p>
        {% endfor %}
    {% endif %}
    <main>
        <div class="form-signin text-center" style="margin-top: 100px">
            <img class="mb-4" src="https://bootstrap.hexschool.com/docs/4.2/assets/brand/bootstrap-solid.svg" alt=""
                width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">社團管理註冊</h1>
        </div>
        <!------ Include the above in your HEAD tag ---------->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


        <div class="container">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <form action="{% url 'register' %}" method="POST">
                {{ form.non_field_errors }}
                {% csrf_token %}
                {% comment %} {{form}} {% endcomment %}
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        {{form.username}}
                        {{form.username.errors}}
                        {% comment %} <input name="name" class="form-control" placeholder="姓名" type="text"> {% endcomment %}
                        
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        {{form.name}}
                        {{form.name.errors}}
                        {% comment %} <input name="name" class="form-control" placeholder="姓名" type="text"> {% endcomment %}
                        
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                        </div>
                        {{form.deparement}}
                        {{form.deparement.errors}}
                        {% comment %} <select class="form-control">
                            <option selected=""> IECS </option>
                            <option> RCE </option>
                            <option> DCL </option>
                            <option> DEE </option>
                        </select> {% endcomment %}
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        {{form.email}}
                       
                        
                        
                        
                        {% comment %} <input name="email" class="form-control" placeholder="Email address" type="email"> {% endcomment %}
                    </div>
                        {% if form.email.errors  %}
                            {{form.email.errors}}
                        {% endif %}
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                        </div>
                        <select class="custom-select" style="max-width: 120px;">
                            <option selected="">+886</option>
                        </select>
                        {{form.phone}}
                        {{form.phone.errors}}
                        {% comment %} <input name="phone" class="form-control" placeholder="Phone number" type="text"> {% endcomment %}
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        {{form.password1}}
                        {{form.password1.errors}}
                        {% comment %} <input name="password" class="form-control" placeholder="Create password" type="password"> {% endcomment %}
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        {{form.password2}}
                        {{form.password2.errors}}
                        {% comment %} <input class="form-control" placeholder="Repeat password" type="password"> {% endcomment %}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">註冊</button>
                    </div>
                    <p class="text-center"> 我已經有帳號？ <a href=""> 登入 </a> </p>
                </form> 
            </article>
        </div>
    </main>



    <footer class="page-footer">
        <nav class="navbar navbar-default fixed-bottom" role="navigation">
            <div class="container justify-content-center">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-copyright text-center">
                            © 2018 Copyright: ?
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </footer>
</body>

</html>