{% extends "../basic.html" %}
{% block content %}

    {% if messages%}
        {% for message in messages %}
        <p {% if message.tags == "success" %} class="alert alert-success" {% elif message.tags == 'error'%} class="alert alert-danger" {% endif %}>{{message}}</p>
        {% endfor %}
    {% endif %}
    <main>
        <div class="form-signin text-center" style="margin-top: 100px">
            <img class="mb-4" src="https://bootstrap.hexschool.com/docs/4.2/assets/brand/bootstrap-solid.svg" alt=""
                width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">社團管理註冊</h1>
        </div>
        <!------ Include the above in your HEAD tag ---------->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


        <div class="container">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <form action="{% url 'register' %}" method="POST">
                {{ form.non_field_errors }}
                {% csrf_token %}
                {% comment %} {{form}} {% endcomment %}
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        {{form.name}}
                        {{form.name.errors}}
                        {% comment %} <input name="name" class="form-control" placeholder="姓名" type="text"> {% endcomment %}
                        
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-flag"></i> </span>
                        </div>
                        {{form.username}}
                        {{form.username.errors}}
                        {% comment %} <input name="name" class="form-control" placeholder="姓名" type="text"> {% endcomment %}
                        
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                        </div>
                        {{form.deparement}}
                        {{form.deparement.errors}}
                        {% comment %} <select class="form-control">
                            <option selected=""> IECS </option>
                            <option> RCE </option>
                            <option> DCL </option>
                            <option> DEE </option>
                        </select> {% endcomment %}
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        {{form.email}}
                       
                        
                        
                        
                        {% comment %} <input name="email" class="form-control" placeholder="Email address" type="email"> {% endcomment %}
                    </div>
                        {% if form.email.errors  %}
                            {{form.email.errors}}
                        {% endif %}
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                        </div>
                        <select class="custom-select" style="max-width: 120px;">
                            <option selected="">+886</option>
                        </select>
                        {{form.phone}}
                        {{form.phone.errors}}
                        {% comment %} <input name="phone" class="form-control" placeholder="Phone number" type="text"> {% endcomment %}
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        {{form.password1}}
                        {{form.password1.errors}}
                        {% comment %} <input name="password" class="form-control" placeholder="Create password" type="password"> {% endcomment %}
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        {{form.password2}}
                        {{form.password2.errors}}
                        {% comment %} <input class="form-control" placeholder="Repeat password" type="password"> {% endcomment %}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">註冊</button>
                    </div>
                    <p class="text-center"> 我已經有帳號？ <a href="{% url 'login' %}"> 登入 </a> </p>
                </form> 
            </article>
        </div>
    </main>

{% endblock content %}
