<!DOCTYPE html>
<html lang="tw">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>社團活動簽到系統</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#"> 社團管理 </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown07">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                    <button class="btn btn-outline-success my-2 my-sm-0">登入</button>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h5> 已參加活動 </h5>

                <div class="media text-muted pt-3">
                    <svg height="32" width="32" class="bd-placeholder-img mr-2 rounded"
                        enable-background="new 0 0 482.239 482.239" viewBox="0 0 482.239 482.239" width="512"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m465.016 0h-447.793c-9.52 0-17.223 7.703-17.223 17.223v447.793c0 9.52 7.703 17.223 17.223 17.223h447.793c9.52 0 17.223-7.703 17.223-17.223v-447.793c0-9.52-7.703-17.223-17.223-17.223zm-17.223 447.793h-413.347v-413.347h413.348v413.347z" />
                        <path
                            d="m373.856 184.405-24.354-24.354-142.828 142.828-73.937-73.937-24.354 24.354 98.291 98.291z" />
                    </svg>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark"> 2019-10-05 </strong>
                        我們與資安的距離
                    </p>
                </div>

                <div class="media text-muted pt-3">
                    <svg height="32" width="32" class="bd-placeholder-img mr-2 rounded"
                        enable-background="new 0 0 482.239 482.239" viewBox="0 0 482.239 482.239" width="512"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m465.016 0h-447.793c-9.52 0-17.223 7.703-17.223 17.223v447.793c0 9.52 7.703 17.223 17.223 17.223h447.793c9.52 0 17.223-7.703 17.223-17.223v-447.793c0-9.52-7.703-17.223-17.223-17.223zm-17.223 447.793h-413.347v-413.347h413.348v413.347z" />
                        <path
                            d="m373.856 184.405-24.354-24.354-142.828 142.828-73.937-73.937-24.354 24.354 98.291 98.291z" />
                    </svg>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark"> 2019-10-05 </strong>
                        我們與資安的距離
                    </p>
                </div>


                <div class="media text-muted pt-3">
                    <svg height="32" width="32" class="bd-placeholder-img mr-2 rounded"
                        enable-background="new 0 0 482.239 482.239" viewBox="0 0 482.239 482.239" width="512"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m465.016 0h-447.793c-9.52 0-17.223 7.703-17.223 17.223v447.793c0 9.52 7.703 17.223 17.223 17.223h447.793c9.52 0 17.223-7.703 17.223-17.223v-447.793c0-9.52-7.703-17.223-17.223-17.223zm-17.223 447.793h-413.347v-413.347h413.348v413.347z" />
                        <path
                            d="m373.856 184.405-24.354-24.354-142.828 142.828-73.937-73.937-24.354 24.354 98.291 98.291z" />
                    </svg>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark"> 2019-10-05 </strong>
                        我們與資安的距離
                    </p>
                </div>

                <small class="d-block text-right mt-3">
                    <a href="#"> 檢視所有活動 </a>
                </small>
            </div>

            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h5> 未來活動 </h5>
                <div class="media text-muted pt-3">
                    <svg height="32" width="32" class="bd-placeholder-img mr-2 rounded"
                        enable-background="new 0 0 482.239 482.239" height="512" viewBox="0 0 482.239 482.239"
                        width="512" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m465.016 0h-447.793c-9.52 0-17.223 7.703-17.223 17.223v447.793c0 9.52 7.703 17.223 17.223 17.223h447.793c9.52 0 17.223-7.703 17.223-17.223v-447.793c0-9.52-7.703-17.223-17.223-17.223zm-17.223 447.793h-413.347v-413.347h413.348v413.347z" />
                    </svg>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark"> 2019-10-05 </strong>
                        我們與資安的距離
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <svg height="32" width="32" class="bd-placeholder-img mr-2 rounded"
                        enable-background="new 0 0 482.239 482.239" height="512" viewBox="0 0 482.239 482.239"
                        width="512" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m465.016 0h-447.793c-9.52 0-17.223 7.703-17.223 17.223v447.793c0 9.52 7.703 17.223 17.223 17.223h447.793c9.52 0 17.223-7.703 17.223-17.223v-447.793c0-9.52-7.703-17.223-17.223-17.223zm-17.223 447.793h-413.347v-413.347h413.348v413.347z" />
                    </svg>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark"> 2019-10-05 </strong>
                        我們與資安的距離
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <svg height="32" width="32" class="bd-placeholder-img mr-2 rounded"
                        enable-background="new 0 0 482.239 482.239" height="512" viewBox="0 0 482.239 482.239"
                        width="512" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m465.016 0h-447.793c-9.52 0-17.223 7.703-17.223 17.223v447.793c0 9.52 7.703 17.223 17.223 17.223h447.793c9.52 0 17.223-7.703 17.223-17.223v-447.793c0-9.52-7.703-17.223-17.223-17.223zm-17.223 447.793h-413.347v-413.347h413.348v413.347z" />
                    </svg>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark"> 2019-10-05 </strong>
                        我們與資安的距離
                    </p>
                </div>
                <small class="d-block text-right mt-3">
                    <a href="#"> 檢視所有活動 </a>
                </small>
            </div>
        </div>

    </main>

    <footer class="page-footer">
        <nav class="navbar navbar-default fixed-bottom" role="navigation">
            <div class="container justify-content-center">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-copyright text-center">
                            © 2018 Copyright: ?
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </footer>
</body>

</html>