<!DOCTYPE html>
<html lang="tw">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>社團活動簽到系統</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#"> 社團管理 </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> 活動 </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown07">
                                <a class="dropdown-item" href="#"> 查看活動 </a>
                                <a class="dropdown-item" href="#"> 新增活動 </a>
                                <a class="dropdown-item" href="#"> 編輯活動 </a>
                                <a class="dropdown-item" href="#"> 修改活動 </a>
                            </div>
                        </li>
                    </ul>
                    <button class="btn btn-outline-success my-2 my-sm-0">登入</button>
                </div>
            </div>
        </nav>
    </header>

    <main>

    </main>


    <footer class="page-footer">
        <nav class="navbar navbar-default fixed-bottom" role="navigation">
            <div class="container justify-content-center">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-copyright text-center">
                            © 2018 Copyright: ?
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </footer>
</body>

</html>