{% extends "./basic.html" %}

{% block content %}
    {% if messages %}
        {{ message.tags }}
    {% endif %}
    <main>
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" style="margin-top: 30px">
                        <h1>
                            1081 資料庫系統 專題作業
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h2 style="margin-top: 30px">
                            組員介紹
                        </h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> 身份 </th>
                                    <th> 學號 </th>
                                    <th> 姓名 </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> 組長 </td>
                                    <td> D0641771 </td>
                                    <td> 莊鎮維 </td>
                                </tr>
                                <tr>
                                    <td> 組員 </td>
                                    <td> D0683215 </td>
                                    <td> 黃威愷 </td>
                                </tr>
                                <tr>
                                    <td> 組員 </td>
                                    <td> D0618990 </td>
                                    <td> 巫逸哲 </td>
                                </tr>
                                <tr>
                                    <td> 組員 </td>
                                    <td> D0641932 </td>
                                    <td> 林洧彥 </td>
                                </tr>
                                <tr>
                                    <td> 組員 </td>
                                    <td> D0641873 </td>
                                    <td> 蔡安哲 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-8">
                        <h2 style="margin-top: 30px">
                            專題介紹
                        </h2>
                        <p>
                            鑒於學校社團在社課簽到時仍然透過紙本進行簽到，整個過程非常耗時，因此我們希望完成一個簽到系統來增進社團不管是在社課或是活動時的效率，也響應環保無紙化運動節能減碳救地球。
                        </p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> 使用者 </th>
                                    <th colspan="3" style="text-align: center;"> 需求功能 </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> 社員(一般使用者) </td>
                                    <td> 1. 查詢個人簽到紀錄 </td>
                                    <td> 2. 查詢個人基本資料 </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> 簽到人員 </td>
                                    <td> 1. 查詢社員簽到紀錄 </td>
                                    <td> 2. 新增社員簽到紀錄 </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> 管理員 </td>
                                    <td> 1. 查詢/刪除/編輯/新增社員簽到紀錄 </td>
                                    <td> 2. 查詢/刪除/編輯/新增活動資料 </td>
                                    <td> 3. 查詢/刪除/編輯/新增社員基本資料 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </main>

 {% endblock %}

