{% extends "../basic.html" %}

    {% block style %}
    <style>
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{% endblock %}



{% block content %}

    <main>
        <div class="form-signin text-center" style="margin-top: 100px">
            <img class="mb-4" src="https://bootstrap.hexschool.com/docs/4.2/assets/brand/bootstrap-solid.svg" alt=""
                width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal"> 修改個人資料 </h1>
        </div>
        <!------ Include the above in your HEAD tag ---------->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


        <div class="container">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <form action="{% url 'Changeinfo' %}" method="POST">
                {% csrf_token %}
                    {% comment %}
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="username" class="form-control" placeholder="姓名" type="text" value={{form.username}}></input>
                    </div>
                    {% endcomment %}
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                        </div>
                        <select name = "deparement" class="form-control" value={{form.username}}>
                            <option> IECS </option>
                            <option> RCE </option>
                            <option> DCL </option>
                            <option> DEE </option>
                        </select>
                       
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input name="email" class="form-control" placeholder="Email address" type="email" value={{form.email}}>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                        </div>
                        <select class="custom-select" style="max-width: 120px;">
                            <option selected="">+886</option>
                        </select>
                        <input name="phone" class="form-control" placeholder="Phone number" type="text" value="{{form.phone}}">
                    </div>
                    {% comment %}
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input name="password" class="form-control" placeholder="Create password" type="password">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input name="password2" class="form-control" placeholder="Repeat password" type="password">
                    </div>
                    {% endcomment %}
                    <div class="row">
                        <div class="col-6 form-group">
                            <button class="btn btn-lg btn-danger btn-block" type="submit"> 取消修改 </button>
                        </div>
                        <div class="col-0"></div>
                        <div class="col-6 form-group">
                            <button class="btn btn-lg btn-success btn-block" type="submit"> 確認修改 </button>
                        </div>
                    </div>
            </article>
        </div>
    </main>
{% endblock %}

